@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Linefont:wght@100;200;300;400;500;600;700;800;900;1000&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.page-main__authoriz-form {
  margin: 0 auto;
}

.authoriz-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 55vh;
  width: 400px;
  max-height: 860px;
  padding: 40px 30px;
  border: white 3px solid;
  border-radius: 20px;
}
.authoriz-form__input-fields-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
.authoriz-form__forgot-password {
  margin-top: 15px;
  text-align: center;
}
.form-title {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
}

.input-fields-form__wrapper-input::before {
  content: "";
  display: block;
  position: relative;
  width: 25px;
  height: 25px;
  top: 21px;
  background-size: cover;
  background-repeat: no-repeat;
}
.input-fields-form__wrapper-input_username::before {
  background-image: url(../img/authoriz_form/username.svg);
}
.input-fields-form__wrapper-input_email::before {
  background-image: url(../img/authoriz_form/email.svg);
}
.input-fields-form__wrapper-input_password::before {
  background-image: url(../img/authoriz_form/password.svg);
}
.input-fields-form__wrapper-input_login::before {
  background-image: url(../img/authoriz_form/username.svg);
}
.input-fields-form__input-field-form-item {
  display: block;
  padding: 0px 5px 8px 30px;
  border-bottom: 2px rgb(150, 150, 150) solid;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: bold;
}
.input-fields-form__input-field-form-item:focus {
  border-bottom: 2px rgb(255, 255, 255) solid;
}
.input-fields-form__input-field-form-item:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #10111C !important; /* Цвет фона */
  -webkit-text-fill-color: #fff !important; /* цвет текста */
  color: #fff !important; /* цвет текста */
}
.form-buttons__authoriz-button {
  padding: 10px 15px;
  border: white 2px solid;
  border-radius: 20px;
}
.form-buttons__an-account {
  margin-top: 8px;
  text-align: center;
}
.form-buttons__not-account {
  margin-top: 8px;
  text-align: center;
}

.authoriz-button {
  display: block;
  cursor: pointer;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.form-link {
  display: block;
  color: white;
  font-size: 13px;
  text-decoration: underline;
}