.page-footer {
    padding: 0 10%;
    height: 52px;
    border-top: 2px solid #717171;
    background-color: #08090E;
}


.page-footer__game-link{
    display: block;
    padding: 14px 0 0 13px;
    opacity: .5;
    text-align: center;
    color: white;
}

.page-footer__game-link:hover {
    opacity: 1;
}

.page-footer__game-link::after {
    content: "";
    display: inline-block;
    position: relative;
    height: 13px;
    width: 13px;
    bottom: 20px;
    left: 4px;
    background: url(../img/Vector.svg) no-repeat ;
}

@media (max-width: 768px) {
    
}

@media (min-width: 769px) and (max-width: 1280px) {

    .page-footer {
        height: 48px;
    }

    .page-footer__game-link img {
        width: 180px;
    }

    .page-footer__game-link{
        display: block;
        padding: 14px 0 0 13px;
        opacity: .5;
        text-align: center;
        color: white;
    }

    .page-footer__game-link::after {
        content: "";
        display: inline-block;
        position: relative;
        height: 13px;
        width: 13px;
        bottom: 18px;
        left: 4px;
        background: url(../img/Vector.svg) no-repeat ;
    }
    
}

@media (min-width: 1281px) {

    .page-footer {
        height: 52px;
    }
    
    
}