body {
  display: block;
}

.container-forum-view-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.forum-page-view-post__wrapper {
  margin-bottom: 20px;
}
.forum-page-view-post__sub-main-content {
  margin-bottom: 20px;
  padding: 20px;
  padding-bottom: 0;
}

.sub-forum-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
  padding: 0 15px;
  padding-bottom: 3px;
}
.sub-forum-post__info-forum-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
}
.sub-forum-post__date {
  margin-right: 30px;
}
.sub-forum-post__buttons-forum-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: bold;
}
.sub-forum-post__complain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 35px;
}
.sub-forum-post__complain::before {
  content: "";
  width: 25px;
  height: 25px;
  margin-right: 8px;
  background: url("../img/forum/view_post/report.png");
  background-size: cover;
}
.sub-forum-post__complain:hover {
  opacity: 0.7;
}
.sub-forum-post__add-to-bookmarks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sub-forum-post__add-to-bookmarks::before {
  content: "";
  width: 25px;
  height: 25px;
  margin-right: 8px;
  background: url("../img/forum/view_post/bookmarkdown.svg");
  background-size: cover;
}
.sub-forum-post__add-to-bookmarks:hover {
  opacity: 0.5;
}

.main-content-post-forum {
  border-radius: 8px;
  background-color: #171828;
}
.main-content-post-forum__name-theme {
  font-size: 25px;
  font-weight: bold;
}
.main-content-post-forum__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: bold;
}
.main-content-post-forum__profile::after {
  content: "";
  width: 35px;
  height: 35px;
  margin-left: 8px;
  background: url("../img/userphoto.png");
  background-size: cover;
}
.main-content-post-forum__wrapper-write-comment {
  padding: 15px 20px;
  border-top: white 1px solid;
}
.main-content-post-forum__write-comment {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  max-height: 80vh;
  padding: 10px;
  outline: none;
  border: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  resize: none;
  color: rgba(255, 255, 255, 0.9);
  background-color: #171828;
  font-size: 16px;
  line-height: 1.3;
}
.main-content-post-forum__write-comment:is(:focus) {
  border-color: #171828;
}
.main-content-post-forum__write-comment::-webkit-scrollbar {
  width: 0;
}

.sub-main-content-post-forum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filling-main-content-post-forum {
  margin-bottom: 30px;
  padding: 0 20px;
  line-height: 1.35;
}

.forum-survey {
  margin: 20px 0;
  padding: 30px;
  background-color: #10111C;
}
.forum-survey__item-of-options {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  margin-bottom: 20px;
  border: 3px solid rgb(124, 124, 124);
  z-index: 0;
  font-size: 20px;
}
.forum-survey__item-of-options_active {
  border: 3px solid white;
}
.forum-survey__item-of-options:hover {
  border: 3px solid white;
}
.forum-survey__survey-progress-bar {
  position: absolute;
  height: 100%;
  background-color: #2C2E4E;
  z-index: -1;
}
.forum-survey__survey-progress-bar_variant-1 {
  width: 76%;
}
.forum-survey__survey-progress-bar_variant-2 {
  width: 24%;
}
.forum-survey__item-name {
  margin-left: 20px;
}
.forum-survey__item-name_active {
  font-weight: bold;
}
.forum-survey__voting-percentage {
  margin-right: 20px;
}
.forum-survey__voting-percentage_active {
  font-weight: bold;
}
.forum-survey__wrapper-btn-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.forum-survey__btn {
  display: block;
  border: 2px solid white;
  padding: 8px 40px;
  font-size: 15px;
}
.forum-survey__btn:hover {
  color: #10111C;
  background-color: rgb(255, 255, 255);
  -webkit-text-stroke-color: #10111C;
  -webkit-text-stroke-width: 0.8px;
}
.forum-comments__wrapper-responses {
  padding-left: 60px;
  border-left: rgb(141, 141, 141) 1px solid;
}

.forum-comment {
  margin-bottom: 20px;
  padding: 10px;
  padding-left: 20px;
  background-color: #171828;
  border-left: white 2px solid;
  border-right: white 2px solid;
}
.forum-comment__profile-info {
  margin-bottom: 15px;
}
.forum-comment__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.forum-comment__profile::before {
  content: "";
  width: 25px;
  height: 25px;
  margin-right: 8px;
  background: url("../img/userphoto.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.forum-comment__filling {
  line-height: 1.35;
}
.forum-comment__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-top: 10px;
}
.forum-comment__unwrap-responses {
  justify-self: start;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 14px;
  font-weight: bold;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.forum-comment__unwrap-responses::after {
  content: "";
  display: inline-block;
  position: relative;
  top: 5px;
  left: 3px;
  width: 18px;
  height: 18px;
  background: url(../img/arrow.svg);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.forum-comment__unwrap-responses:checked {
  color: red;
}
.forum-comment__unwrap-responses::after {
  content: "";
  position: relative;
  display: inline-block;
  top: 0.3em;
  width: 1.3em;
  height: 1.3em;
  border-radius: 0.25em;
  margin-left: 0.5em;
  background: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.forum-comment__unwrap-responses:has(input:checked):after {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.forum-comment__unwrap-responses input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.buttons-action-forum-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
}
.buttons-action-forum-comment__like {
  overflow: hidden;
  margin: auto 0;
}
.buttons-action-forum-comment__like img {
  margin-left: 5px;
}
.button-action-forum-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5px;
  padding: 5px 5px;
  background-color: #22243E;
}
.button-action-forum-comment img {
  width: 20px;
}