.post-create {
  width: 65%;
}
.post-create__btn-publish-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px auto;
  padding: 5px 10px;
  border: 3px white solid;
  border-radius: 8px;
  font-size: 20px;
}
.post-create__btn-publish-post::before {
  content: "";
  width: 25px;
  height: 25px;
  margin-right: 5px;
  background-image: url(../img/forum/create_post/check_mark.png);
  background-size: cover;
}
.post-create__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px;
}
.post-create__tag-item {
  margin: 10px 0;
}
.post-create__tag-item_tanks::before {
  content: "";
  padding-right: 1.5em;
  background: url(../img/aside_filtres/red_ellipse.svg) no-repeat;
  background-size: 0.5em 0.5em;
  background-position: center;
}
.post-create__tag-item_airplanes::before {
  content: "";
  padding-right: 1.5em;
  background: url(../img/aside_filtres/white_ellipse.svg) no-repeat;
  background-size: 0.5em 0.5em;
  background-position: center;
}
.post-create__tag-item_navy::before {
  content: "";
  padding-right: 1.5em;
  background: url(../img/aside_filtres/blue_ellipse.svg) no-repeat;
  background-size: 0.5em 0.5em;
  background-position: center;
}
.post-create__tag-item_game-mode::before {
  content: "";
  padding-right: 1.5em;
  background: url(../img/aside_filtres/green_ellipse.svg) no-repeat;
  background-size: 0.5em 0.5em;
  background-position: center;
}
.post-create__rules-post-content a {
  font-size: 13px;
  opacity: 0.5;
}
.post-create__rules-post-content a::after {
  content: "";
  display: inline-block;
  position: relative;
  height: 10px;
  width: 10px;
  bottom: 5px;
  left: 4px;
  background: url(../img/Vector.svg) no-repeat;
  background-size: cover;
}
.post-create__rules-post-content a:hover {
  opacity: 1;
}

.workspace {
  border-radius: 10px;
  background-color: #171828;
}
.workspace__buttons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
}
.workspace__button-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.workspace__input-title {
  width: 40%;
  font-size: 16px;
}
.workspace__input-content {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  max-height: 80vh;
  padding: 10px;
  outline: none;
  border: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  resize: none;
  color: rgba(255, 255, 255, 0.9);
  background-color: #171828;
  font-size: 16px;
  line-height: 1.3;
}
.workspace__input-content:is(:focus) {
  border-color: #171828;
}
.workspace__input-content::-webkit-scrollbar {
  width: 0;
}

.workspace-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid rgba(255, 255, 255, 0.65);
  padding: 5px;
}