@charset "UTF-8";
.aside-filtres__tags-list-label-tier-3::after, .aside-filtres__tags-list-label-tier-2::after, .aside-filtres__tags-list-label-tier-1::after {
  content: "";
  position: relative;
  display: inline-block;
  top: 0.3em;
  width: 1.3em;
  height: 1.3em;
  border-radius: 0.25em;
  margin-left: 0.5em;
  background: url(../img/arrow.svg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.aside-filtres__tags-list-label-tier-3:has(input:checked):after, .aside-filtres__tags-list-label-tier-2:has(input:checked):after, .aside-filtres__tags-list-label-tier-1:has(input:checked):after {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.aside-filtres__tags-list-label-tier-3 input, .aside-filtres__tags-list-label-tier-2 input, .aside-filtres__tags-list-label-tier-1 input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.page-main {
  margin: 50px 0;
}

.container-forum-posts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media (max-width: 1260px) {
  .main-aside {
    position: fixed;
    overflow-y: scroll;
    left: -100%;
    top: 0;
    height: 100vh;
    background-color: #10111C;
    z-index: 3;
  }
}
.main-aside__forum-nav {
  min-width: 150px;
  margin-left: 20px;
}
@-webkit-keyframes show-hide {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
@keyframes show-hide {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
.main-aside_active {
  -webkit-animation-name: show-hide;
          animation-name: show-hide;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  /* для Firefox */
  scrollbar-width: thin;
  scrollbar-color: rgb(213, 213, 213) rgba(255, 255, 255, 0.1607843137);
  /* для Chrome/Edge/Safari */
}
.main-aside_active::-webkit-scrollbar {
  width: 4px;
}
.main-aside_active::-webkit-scrollbar-track {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1607843137);
}
.main-aside_active::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgb(213, 213, 213);
}

.aside-filtres {
  width: 310px;
  padding: 16px 30px;
  border-radius: 10px;
  background-color: #171828;
}
@media (max-width: 768px) {
  .aside-filtres {
    width: 250px;
    padding: 8px 15px;
  }
}
.aside-filtres__tags-list-label-tier-1 {
  font-size: 22px;
}
.aside-filtres__tags-list-label-tier-2 {
  margin: 20px 0;
  font-size: 20px;
}
.aside-filtres__tags-list-label-tier-2_tanks::before {
  content: "";
  padding-right: 1.5em;
  background: url(../img/aside_filtres/red_ellipse.svg) no-repeat;
  background-size: 0.5em 0.5em;
  background-position: center;
}
.aside-filtres__tags-list-label-tier-2_airplanes::before {
  content: "";
  padding-right: 1.5em;
  background: url(../img/aside_filtres/white_ellipse.svg) no-repeat;
  background-size: 0.5em 0.5em;
  background-position: center;
}
.aside-filtres__tags-list-label-tier-2_navy::before {
  content: "";
  padding-right: 1.5em;
  background: url(../img/aside_filtres/blue_ellipse.svg) no-repeat;
  background-size: 0.5em 0.5em;
  background-position: center;
}
.aside-filtres__tags-list-label-tier-2_game-mode::before {
  content: "";
  padding-right: 1.5em;
  background: url(../img/aside_filtres/green_ellipse.svg) no-repeat;
  background-size: 0.5em 0.5em;
  background-position: center;
}
.aside-filtres__tags-list-tier-2 {
  padding-left: 20px;
  margin-left: 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.aside-filtres__tags-list-label-tier-3 {
  margin: 15px 0;
  font-size: 17px;
}
.aside-filtres__tags-list-tier-3 {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  margin-left: 5px;
  padding-left: 15px;
}
.search-list-tags__input-field {
  color: white;
  border-bottom: 1px gray solid;
}
.search-list-tags__input-field:focus {
  border-color: white;
}
.search-list-tags__list-tags {
  max-height: 195px;
  overflow-y: scroll;
  /* для Firefox */
  scrollbar-width: thin;
  scrollbar-color: rgb(213, 213, 213) rgba(255, 255, 255, 0.1607843137);
  /* для Chrome/Edge/Safari */
}
.search-list-tags__list-tags::-webkit-scrollbar {
  width: 4px;
}
.search-list-tags__list-tags::-webkit-scrollbar-track {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1607843137);
}
.search-list-tags__list-tags::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgb(213, 213, 213);
}
.search-list-tags__item-tag img {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently */
}

.item-tag {
  margin-top: 5px;
  font-size: 15px;
}
.item-tag img {
  position: relative;
  top: 1px;
  width: 20px;
  margin-right: 5px;
}
.item-tag::before {
  content: "";
  position: relative;
  display: inline-block;
  top: 0.3em;
  width: 1.3em;
  height: 1.3em;
  margin-right: 5px;
  background: url(../img/checkbox_inactive.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.item-tag:has(input:checked):before {
  background: url(../img/checkbox_active.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.item-tag input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.forum-nav__item-link {
  margin: 10px 0;
  font-size: 18px;
}
@media (max-width: 768px) {
  .forum-nav__item-link {
    font-size: 16px;
  }
}
.forum-nav__item-link_all-posts ::before {
  content: "";
  display: inline-block;
  position: relative;
  top: 0.35em;
  background-image: url(../img/aside_nav/all_posts.png);
  background-size: cover;
  width: 1.5em;
  height: 1.5em;
  margin-right: 5px;
}
.forum-nav__item-link_my-posts ::before {
  content: "";
  display: inline-block;
  position: relative;
  top: 0.35em;
  background-image: url(../img/aside_nav/my_posts.png);
  background-size: cover;
  width: 1.5em;
  height: 1.5em;
  margin-right: 5px;
}
.forum-nav__item-link_about-forum ::before {
  content: "";
  display: inline-block;
  position: relative;
  top: 0.35em;
  background-image: url(../img/aside_nav/about_forum.png);
  background-size: cover;
  width: 1.5em;
  height: 1.5em;
  margin-right: 5px;
}

.posts-list-wrapper {
  margin-left: 3vw;
}
@media (max-width: 768px) {
  .posts-list-wrapper {
    margin-left: 0;
  }
}

.filtres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 820px) {
  .filtres {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.filtres__drop-down-list-sorting {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: white;
  line-height: 1.3;
  margin-top: 10px;
  padding: 0.6em 1.8em 0.5em 0.8em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #aaa;
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #10111C;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), -webkit-gradient(linear, left top, left bottom, from(#10111C));
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), linear-gradient(#10111C);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
@media (min-width: 500px) {
  .filtres__drop-down-list-sorting {
    display: none;
  }
}
.filtres__drop-down-list-sorting::-ms-expand {
  display: none;
}
.filtres__drop-down-list-sorting:hover {
  border-color: #888;
}
.filtres__drop-down-list-sorting:focus {
  border-color: #aaa;
  -webkit-box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
          box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: white;
  outline: none;
}
.filtres__drop-down-list-sorting option {
  font-weight: normal;
}
.filtres *[dir=rtl] .filtres__drop-down-list-sorting, .filtres :root:lang(ar) .filtres__drop-down-list-sorting, .filtres :root:lang(iw) .filtres__drop-down-list-sorting {
  background-position: left 0.7em top 50%, 0 0;
  padding: 0.6em 0.8em 0.5em 1.4em;
}
.filtres__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 1.3em;
  padding-bottom: 2px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  font-size: 20px;
}
@media (max-width: 820px) {
  .filtres__wrapper {
    margin: 10px;
    font-size: 18px;
  }
}
@media (min-width: 769px) and (max-width: 1365px) {
  .filtres__wrapper {
    font-size: 18px;
  }
}
@media (max-width: 499px) {
  .filtres__wrapper {
    display: none;
  }
}
.filtres__wrapper img {
  display: inline-block;
  position: relative;
  top: 0.05em;
  padding-left: 5px;
  width: 0.9em;
  height: 0.9em;
}
.filtres__sorting {
  opacity: 0.7;
}
.filtres__sorting:hover {
  opacity: 1;
}
.filtres__sorting_by-popular {
  margin: 0 30px;
}
@media (max-width: 768px) {
  .filtres__sorting_by-popular {
    margin: 0 15px;
  }
}
.filtres__sorting_active {
  margin-bottom: -4px;
  border-bottom: 2px solid white;
  opacity: 1;
}
.filtres__create-post {
  position: relative;
  bottom: 8px;
  font-size: 22px;
}
.filtres__create-post a {
  display: block;
  padding: 1px 10px 10px;
}
.filtres__create-post a:hover {
  outline: 1px solid white;
}
.filtres__create-post img {
  position: relative;
  top: 0.25em;
  padding-right: 0.2em;
}

.posts-list__filtres {
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .posts-list__filtres {
    margin-bottom: 25px;
  }
}
.post-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 30px;
  margin: 15px 0;
  border-right: 1px solid white;
  border-left: 1px solid white;
  background-color: #171828;
}
@media (max-width: 768px) {
  .post-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px 15px;
  }
}
.post-item__title {
  margin-bottom: 20px;
  font-size: 22px;
}
.post-item__descr {
  color: rgb(195, 195, 195);
  font-size: 18px;
  line-height: 1.2;
}
@media (max-width: 768px) {
  .post-item__descr {
    font-size: 15px;
  }
}
.post-item__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 180px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: right;
}
@media (max-width: 768px) {
  .post-item__info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    margin-top: 15px;
  }
}
.post-item__wrapper-statistics {
  color: rgb(195, 195, 195);
}
.post-item__username {
  position: relative;
  bottom: 10px;
  display: block;
  font-size: 17px;
}
.post-item__username::after {
  content: "";
  display: inline-block;
  background: url(../img/userphoto.png);
  background-size: cover;
  position: relative;
  width: 1.75em;
  height: 1.75em;
  top: 0.55em;
  margin-left: 0.2em;
}
.post-item__views {
  font-size: 16px;
  margin-bottom: 5px;
}
@media (max-width: 768px) {
  .post-item__views {
    font-size: 14px;
  }
}
.post-item__date {
  font-size: 16px;
}
@media (max-width: 768px) {
  .post-item__date {
    font-size: 14px;
  }
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-item {
  font-size: 20px;
}
.page-item_active a {
  color: white;
  border-bottom: 1px white solid;
}

.page-link-previous {
  display: block;
}
.page-link-previous img {
  position: relative;
  bottom: 2px;
}

.page-link {
  color: #666666;
  margin: 0 5px;
}

.page-link-next {
  display: block;
}
.page-link-next img {
  position: relative;
  bottom: 2px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.unwrapper_btn {
  position: fixed;
  top: 15vh;
  left: 1vw;
  z-index: 2;
}
.unwrapper_btn img {
  width: 50px;
}
@media (max-width: 768px) {
  .unwrapper_btn {
    position: absolute;
  }
}
@media (min-width: 1260px) {
  .unwrapper_btn {
    display: none;
  }
}

.wrapper_btn {
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: 10px;
  top: 10px;
}
@media (min-width: 1260px) {
  .wrapper_btn {
    display: none;
  }
}