@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


.page-header {
    background-color: #08090E;
    border-bottom: 2px solid #717171;
}

/* .nav-list__nav-item{
    color: white;
}

.main-nav__nav-list_logo .nav-list__nav-item{
    font-family: 'Changa', sans-serif;
}

.main-nav__nav-list_navigation .nav-list__nav-item{
    font-family: 'Roboto', sans-serif;
} */

@media (max-width: 768px) {
    
}

@media (min-width: 769px) and (max-width: 1280px) {

    .page-header {
        padding: 0 5%;
        /* margin: auto; */
    }

    .page-header__main-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .main-nav__nav-list {
        display: flex;
        /* margin: 0 -40px; */
    }
    
    .nav-list__nav-item a {
         
    }

    .nav-list__nav-item-logo a {
        font-size: 28px;
    }

    
    
}

@media (min-width: 1281px) {

    .page-header {
        padding: 0 10%;
        /* flex-grow: 1; */
        /* margin: auto; */
    }

    .page-header__main-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .main-nav__nav-list {
        display: flex;
        /* margin: 0 -40px; */
    }
    
    .nav-list__nav-item a {
        display: block;
        margin: 10px 20px;
        font-size: 20px;
        text-transform: uppercase;
    }

    .main-nav__nav-list_logo a {
        font-size: 32px;
    }
    
    
}