@import url("https://fonts.googleapis.com/css2?family=Changa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
.page-header {
  background-color: #08090E;
  border-bottom: 2px solid #717171;
}
.main-nav__nav-list_logo {
  font-family: "Changa", sans-serif;
}
.main-nav__nav-list_navigation {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.burger-menu {
  display: none;
}

@media (max-width: 768px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    z-index: 4;
    height: 100%;
    width: 100%;
    left: 0;
  }
  .main-nav__wrapper {
    background-color: #0f111b;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    border-bottom: 2px solid #1d2032;
    border-right: 2px solid #1d2032;
    border-bottom-right-radius: 10px;
  }
  .main-nav__nav-list {
    background-color: #08090E;
    -webkit-box-shadow: #08090E 0px 5px 10px;
            box-shadow: #08090E 0px 5px 10px;
  }
  .main-nav__nav-list_logo .nav-list__nav-link-h5 {
    font-size: 28px;
    text-align: center;
  }
  .page-main__opacity {
    opacity: 0.2;
  }
  .nav-list__nav-item {
    font-size: 18px;
    padding: 10px 0;
    padding-left: 20px;
    -webkit-box-shadow: #141722 0px 5px 5px inset;
            box-shadow: #141722 0px 5px 5px inset;
    border-bottom: 1px solid rgb(85, 85, 85);
  }
  .nav-list__nav-link-h5 {
    font-size: 22px;
  }
  .burger-menu {
    display: inline-block;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    background-color: #08090E;
  }
  .burger-menu img {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    width: 48px;
  }
}
@media (min-width: 769px) and (max-width: 1280px) {
  .page-header__main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-nav__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-nav__nav-list_logo .nav-list__nav-link-h5 {
    font-size: 28px;
  }
  .nav-list__nav-link-h5 {
    display: block;
    margin: 10px 20px;
    text-transform: uppercase;
  }
}
@media (min-width: 1281px) {
  .page-header__main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-nav__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-nav__nav-list_logo .nav-list__nav-link-h5 {
    font-size: 32px;
  }
  .nav-list__nav-link-h5 {
    display: block;
    margin: 8px 20px;
    font-size: 18px;
    text-transform: uppercase;
  }
}