.index-body {
  background: url(../img/index/background.svg);
  background-size: 200px;
}

@-webkit-keyframes move-arrow {
  from {
    bottom: 0;
  }
  to {
    bottom: 10px;
  }
}

@keyframes move-arrow {
  from {
    bottom: 0;
  }
  to {
    bottom: 10px;
  }
}
.page-main {
  margin: 0;
}
.page-main__main-section {
  position: relative;
  width: 100%;
  height: 96vh;
  background-image: url(../img/index/background_main_section.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.page-main__main-section::after {
  content: "";
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 0;
  left: calc(50% - 50px);
  background-image: url(../img/index/arrow_down.svg);
  background-size: cover;
  cursor: pointer;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  animation-direction: alternate-reverse;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}
.page-main__down-section {
  width: 100%;
  height: 94vh;
}

.test-links li {
  margin-bottom: 8px;
}

.main-section__title {
  font-family: "Changa", sans-serif;
  padding-top: 50px;
  font-size: 66px;
  text-align: center;
}

.desc-section__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
}
.desc-section__wrapper::after {
  content: "";
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 0;
  left: calc(50% - 50px);
  background-image: url(../img/index/arrow_down.svg);
  background-size: cover;
  cursor: pointer;
}
.desc-section__text {
  font-size: 20px;
  text-align: center;
  margin-top: 100px;
  width: 70%;
}

.down-section__wrapper-text {
  text-align: center;
}
.down-section__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 94vh;
}
.down-section__label-text {
  color: #FFE999;
  text-align: center;
  font-size: 26px;
  margin-top: 300px;
}
.down-section__text {
  font-size: 20px;
  text-align: center;
  padding-top: 50px;
  width: 70%;
  margin: auto;
}
.down-section__down-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.down-nav__down-nav-item {
  width: 200px;
  padding: 20px 20px 0;
  background: rgba(0, 0, 0, 0.4);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: none;
}
.down-nav__down-nav-item:hover {
  opacity: 0.8;
}

.down-nav-item {
  cursor: pointer;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}
.down-nav-item__img {
  display: block;
  margin: 0 auto;
  padding-bottom: 10px;
  width: 65px;
}
.down-nav-label {
  margin-bottom: 5px;
}