@import url("normilaze.css");
@import url("index.css");
@import url("header.css");
@import url("footer.css");
@import url("forum_posts_list.css");
@import url("forum_view_post.css");
@import url("forum_create_post.css");
@import url("authorization.css");
@import url("status_codes.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap");
*::-moz-selection {
  color: rgb(0, 110, 209);
  background-color: rgb(11, 14, 22);
}
*::selection {
  color: rgb(0, 110, 209);
  background-color: rgb(11, 14, 22);
}

.hide {
  display: none;
}

.page-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100%;
  min-width: 320px;
  color: white;
  background-color: #10111C;
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }
}
@media (min-width: 769px) and (max-width: 1365px) {
  .container {
    margin: 0 65px;
  }
}
@media (min-width: 1366px) {
  .container {
    margin: 0 8vw;
  }
}