@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap");
.page-body-status-code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  font-family: "Russo One", sans-serif;
}

.content-status-code-404 {
  margin-left: -140px;
}
.content-status-code-404__note-wrapper {
  margin-right: -134px;
}
.content-status-code-404__status-code-note {
  margin-top: 13px;
}
.content-status-code-404__obj-not-found-text {
  padding: 10px 23px 10px 0px;
}
.content-status-code-404__obj-not-found-num {
  padding: 13px 0px 10px 23px;
}

.obj-not-found-404-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 3px;
}

.obj-not-found-404-text {
  border-right: 19px white solid;
  font-size: 60px;
}

.obj-not-found-404-num {
  font-size: 60px;
}

.status-code-note {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  font-size: 20px;
  font-family: "PT Sans", sans-serif;
  font-style: italic;
}
.status-code-note__talk {
  margin-bottom: 6px;
}